@import './mixin/screen-mixin';

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.2rem;

  @include view-tablet {
    padding: 0 5.2rem;
  }

  font-family: 'Open Sans',
  'Helvetica Neue',
  sans-serif;
}
